{% for record in __SELF__.records %}
    <aside {% if not __SELF__.cookie %}data-fancybox-popup="{{ __SELF__.alias }}"{% endif %} style="display:none;" data-lenis-prevent>
        <div class="grid {% if record.media is empty or record.content is empty %}grid-1{% else %}grid-2{% endif %}">
            {% if record.media %}
                {% if record.media.content_type in ['video/mp4'] %}
                    <video controls src="{{ record.media.path }}"></video>
                {% else %}
                    {% partial 'image' image = record.media width = 1000 %}
                {% endif %}
            {% endif %}
            {% if record.content %}
                <div class="text">
                    {{ record.content|raw }}
                </div>
            {% endif %}
        </div>
    </aside>
{% endfor %}